<%= form_with model: post, local: true, class: "space-y-5" do |form| %>
    <div>
      <%= form.label :title, class: "block text-black font-medium mb-1" %>
    <%= form.text_field :title, class: "w-full border border-gray-400 p-2 rounded shadow-sm focus:ring-2 focus:ring-red-500" %>
    </div>
    <div class="div">
      <%= form.label :body, class: "block text-black font-medium mb-1" %>
      <%= form.text_area :body, class: "w-full border border-gray-400 rounded shadow-sm p-2 focus:ring-2 focus:ring-lime-800 " %>
    </div>

    <div class="div">
      <%=  form.submit action_name, class: "rounded-sm hover:bg-blue-400  bg-black text-white text-bold font-medium inline w-full px-4 py-2 text-center transition duration-300" %>
    </div>
    <div class="div">
      <%=  link_to "Back to Posts", posts_path, class: "rounded-sm hover:bg-green-400 w-full bg-black text-white text-bold font-medium inline w-full px-4 py-2 text-center transition duration-300" %>
    </div>
    <div class="div">
      <%= link_to "Cancel", posts_path, class: "rounded-sm bg-yellow-300 hover:bg-yellow-700 text-black text-bold font-medium inline w-full px-4 py-2 text-center transition duration-300" %>
    </div>
  <% end %>