<!-- component -->
<nav
        class="flex items-center justify-between flex-wrap bg-white py-4 lg:px-12 shadow border-solid border-t-2 border-blue-700">
        <div class="flex justify-between lg:w-auto w-full lg:border-b-0 pl-6 pr-2 border-solid border-b-2 border-gray-300 pb-5 lg:pb-0">
            <div class="flex items-center flex-shrink-0 text-gray-800 mr-16">
                <span class="font-semibold text-xl tracking-tight">
                    <% if user_signed_in? %>
                    <h3>
                    <%= current_user.company.name %>
                    </h3>
                <% end %>
                </span>
            </div>
            <div class="block lg:hidden ">
            </div>
        </div>
    
        <div class="menu w-full lg:block flex-grow lg:flex lg:items-center lg:w-auto lg:px-3 px-8">
            <div class="text-md font-bold text-blue-700 lg:flex-grow">
            </div>
            <!-- This is an example component -->
            <div class="relative mx-auto text-gray-600 lg:block hidden">
                 <% if user_signed_in? %>
                    <h3 class="font-bold">
                    <%= current_user.name %>
                    </h3>
                <% end %>
            </div>
            <% if !user_signed_in? %>
                <div class="flex ">
                    <%= link_to "Sign In", new_user_session_path, class:"block text-md px-4 py-2 rounded text-blue-700 ml-2 font-bold hover:text-white mt-4 hover:bg-blue-700 lg:mt-0" %>
                    <%= link_to "Sign Up", new_user_registration_path, class:"block text-md px-4 py-2 rounded text-blue-700 ml-2 font-bold hover:text-white mt-4 hover:bg-blue-700 lg:mt-0" %>
    
               </div>
            <% else %>
                <div class="flex">
                    <div class="rounded-full inline bg-gray-400 h-10 w-10 ml-5" ></div>
                    <%= button_to "Sign Out", destroy_user_session_path,method: :delete, class:"block text-md px-4 py-2 rounded text-blue-700 ml-2 font-bold hover:text-white mt-4 hover:bg-red-700 lg:mt-0" %>
    
                </div>
            <% end %>
        </div>
    
    </nav>